#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.full-width {
  width: 100%;
  padding: 0 20px; /* Optional: Add padding if needed */
  box-sizing: border-box; /* Ensure padding is included in width */
}
/* Icon styles */
.icon {
  transition: transform 0.2s, color 0.2s; /* Smooth transition */
}

.icon:hover {
  color: #0056b3; /* Darker shade on hover */
  transform: scale(1.1); /* Scale effect */
  transition: transform 0.3s ease-in-out;

}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.feature-card {
  background: linear-gradient(270deg, #6a11cb, #2575fc);
  background-size: 400% 400%;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}
.feature-card p {
  color: #fff;
}

.feature-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  animation: gradientAnimation 15s ease infinite;

}